---
layout: default
---
<article class="post">
  <header class="post-header">
    {% if page.description %}
      <p class="post-meta">{{ page.description }}</p>
    {% endif %}
    {% if page.tags %}
      <p class="post-categories">
        {% for tag in page.tags %}
          <span class="post-tag">{{ tag }}</span>
        {% endfor %}
      </p>
    {% endif %}
    {% include mathjax.html %}
  </header>
  <div class="post-content">
    {% if page.url contains "/gk/" and page.url != "/gk/" %}
      <div style="font-size: 14px; margin-bottom: 12px;">
        <a href="{{ '/gk/' | relative_url }}">G検定トップ</a>
        ＞ {{ page.title }}
      </div>
    {% endif %}
    {% assign is_sg_page = false %}
    {% if page.dir == "/pages/sg/" %}
      {% assign is_sg_page = true %}
    {% endif %}
    {% if is_sg_page and page.name != "index.md" %}
      <div style="font-size: 14px; margin-bottom: 12px;">
        <a href="{{ '/sg/' | relative_url }}">SGトップ</a>
        ＞ {{ page.title }}
      </div>
    {% endif %}
    {{ content }}
  </div>

  {% assign has_page_navigation = false %}
  {% if page.url contains "/ds/" and page.url != "/ds/" %}
    {% if page.prev or page.next %}
      {% assign has_page_navigation = true %}
    {% endif %}
  {% endif %}

  {% if has_page_navigation %}
    <hr>

    <div class="page-navigation">
      {% if page.prev %}
        <a class="prev" href="{{ page.prev | relative_url }}">← 前の記事</a>
      {% endif %}

      {% if page.next %}
        <a class="next" href="{{ page.next | relative_url }}">次の記事 →</a>
      {% endif %}
    </div>
  {% endif %}
</article>
