---
layout: default
---
<div class="site-layout">
  <main class="site-main">
    <article class="post">
      <header class="post-header">
        <p class="post-meta">{{ page.date | date: "%Y-%m-%d" }}</p>
        <h2 class="post-title">{{ page.title }}</h2>
        {% assign page_last_modified = page.last_modified_at | default: page.date %}
        {% if page_last_modified %}
          <p class="page-last-modified">最終更新日：{{ page_last_modified | date: "%Y年%-m月%-d日" }}</p>
        {% endif %}
        {% if page.categories %}
          <p class="post-categories">{{ page.categories | join: ", " }}</p>
        {% endif %}
        {% if page.tags %}
          <p class="post-categories">
            {% for tag in page.tags %}
              <span class="post-tag">{{ tag }}</span>
            {% endfor %}
          </p>
        {% endif %}
      </header>
      <div class="post-content">
        {{ content | replace: "<h1", "<h2" | replace: "</h1>", "</h2>" }}
      </div>

      {% include site_footer.html %}
    </article>
  </main>

  <div class="site-sidebar">
    {% include sidebar.html %}
  </div>
</div>
